:root {
    --off-white: transparent;
  }


  .nav {
    background-color: #fff;
    width: 100%;
    color: black;
    padding: 1.5rem;
  }
  .changebackground {
    background-color: transparent;
    width: 100%;
    padding: 1.5rem;
    color: #fff;
    opacity: 0.8;

  }


  .hporx-header{
    position: fixed;
    top: -87px;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: all  .5s linear;
  }

  .hporx-header-skew{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: all  .5s linear;
  }


  .hporx-header-topbar-skew{
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;

  }
  .hporx-header-topbar-normal{
    display: block;

  }

  .changetopBArbackgournd{
    background-color: gray;
  }
  
  
  .nav .nav-content {
    max-width: 1290px;
    padding: 0rem 3rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .changebackground .nav-content {
    max-width: 1290px;
    padding: 0rem 3rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }
  
  .nav-items{
    text-align: center;
    width: 100%;
  }
  
  .nav-item {
    display: inline;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: inherit;
    border-bottom: 2px solid transparent;

    margin-right: 2.5rem;
 
  }
  .nav-item .active {
    display: inline;
    cursor: pointer;
    opacity: 1;
    border-bottom: 2px solid #E84025;
    text-decoration: none;
    color: inherit;
  }
  
  .nav-item:hover {
    cursor: pointer;
    opacity: 1;
    border-bottom: 2px solid #E84025;
  }
  
  .section {
  }
  
  .section-dark {
    background: #333;
    color: white;
  }
  
  .section-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
  }
  